body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: avenir;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

#current-word-container {
  color: white;
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within items */
}

#title-display,
#current-word-display {
  margin: 0; /* Remove default margin for h1 and h2 */
  color: black;
}
#main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

#grid-container {
  display: grid;
  /* grid-template-columns: repeat(8, 50px); */
  grid-gap: 5px;
  margin: 20px;
  padding: 5px;
  border: 5px solid black;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  flex-grow: 1;
}

#current-word-display {
  height: 40px; /* Set a fixed height for current-word-display */
  overflow: hidden; /* Hide overflow content */
}

.grid-item.randomized.correct {
  background-color: darkseagreen;
}

span.correct {
  padding: 5px;
  background-color: darkseagreen;
  border-radius: 3px;
}

span.incorrect {
  padding: 5px;
  background-color: indianred;
  border-radius: 3px;
}

.grid-item.randomized {
  background-color: palegoldenrod;
}

.incorrect {
  background-color: indianred;
}

.grid-item {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: transform 1s ease-in-out, background-color 0.5s ease;
}

.selected {
  background-color: lightblue;
}

.flip-animation {
  transform: rotateX(360deg);
}

#past-words-display-container {
  margin-left: 20px;
  overflow: auto;
}
.hidden {
  color: white;
}

button {
  padding: 5px;
  background-color: palevioletred;
  border-radius: 3px;
  font-size: 15px;
  margin: 5px;
}

@media screen and (min-width: 600px) {
  #grid-container {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-item {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    font-size: 18px;
  }
}

@media screen and (max-width: 599px) {
  #grid-container {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
  }

  .grid-item {
    font-size: 12px;
    border: 1px solid #ccc;
  }
}
